{
	"extends": [
		"eslint:recommended"
	],
	"env": {
		"browser": true,
		"node": true,
		"es6": true
	},
	"parser": "babel-eslint",
	"rules": {
		"semi": "error",
		"quotes": [
			"error",
			"single"
		],
		"no-console": "warn",
		"no-unused-vars": "warn",
		"no-unreachable-loop": "warn",
		"block-scoped-var": "warn",
		"no-var": "warn",
		"no-magic-numbers": 2,
		"eol-last": 2,
		"eqeqeq": 2,
		"no-extra-bind": 2,
		"no-lone-blocks": 2,
		"no-loop-func": 2,
		"no-redeclare": 2,
		"no-shadow": 2
	}
}