.cards {
	display:inline-block;
}
.card {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ada6f0;
	text-align: center;
	color: #ffffff;
	padding: .5rem 1rem;
	border: 2px solid #ccc;
	border-radius: 4px;
	margin: .5rem 0;
	width: 200px;
	height: 200px;
}
.info{
	width: 100%;
	height: 100%;
	& button {
			width: 55px;
			height: 30px;
			padding: 0;
			background-color: rgb(102, 51, 153, .4);
			border-radius: 20px;
			color: #fff;
			border: none;
			margin: 1rem;
	}
}
